@font-face {
  font-family: "Steelfish Rg";
  src: url("/fonts/steelfish\ rg.ttf") format("truetype");
}
@font-face {
  font-family: "Oxygen";
  src: url("/fonts/Oxygen-Regular.ttf") format("truetype");
}
.firstField {
  background-color: #0d0d0d;
}
.wrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}
.homeOrderNow {
  color: #d9d9d9;
  font-family: "Steelfish Rg";
  font-size: 2rem;
  padding-top: 10px;
}
.rectangleFieldOne {
  background-image: url(/images/rectangleOne.png);
  background-size: cover;
}
.rectangleOneText {
  color: #cccccc;
  font-weight: bold;
  font-family: "Steelfish Rg";
  filter: drop-shadow(1.172px 2.762px 0.5px #1a0f02);
  font-size: 4.7rem;
  line-height: 5rem;
  margin-top: 60px;
  padding-left: 5%;
}
.rectangleOneText2 {
  color: #ffffff;
  font-weight: 400;
  font-family: "Oxygen";
  font-size: 1.2rem;
  margin-left: 5%;
  padding-bottom: 50px;
  margin-top: 10px;
}
.vitrenixBottle {
  margin-top: 100px;
  padding-bottom: 20px;
}

.videoPlaceholder {
  width: 100%;
  margin-top: 80px;
}
.redLine {
  width: 70%;
  margin: auto;
  display: block;
  margin-top: 80px;
}
.text1 {
  width: 70%;
  margin: auto;
  text-align: center;
  color: #d9d9d9;
  font-weight: 400;
  font-family: "Oxygen";
  line-height: 1.7rem;
  margin-top: 20px;
}
.r1 {
  padding-bottom: 100px;
}
.sizeMattersText {
  color: #d9d9d9;
  font-weight: bold;
  font-family: "Steelfish Rg";
  font-size: 3.5rem;
  margin-left: 30px;
}
.sizeMattersField {
  background-color: #262626;
}
.text2 {
  color: #d9d9d9;
  font-weight: 400;
  font-family: "Oxygen";
  font-size: 1.08rem;
  margin-bottom: 30px;
}
.text3 {
  color: #dd003e;
  font-weight: bold;
  font-family: "Steelfish Rg";
  font-size: 2.4rem;
  letter-spacing: 2px;
  margin-bottom: 40px;
}
.r2 {
  margin-top: 40px;
  padding-bottom: 100px;
}
.text4 {
  font-size: 1rem;
  line-height: 1.1rem;
  margin-left: 40px;
  color: #d9d9d9;
  font-weight: 400;
  font-family: "Oxygen";
}
.text4::before {
  content: url(/images/redRectangle.png);
  margin-right: 5px;
}
.girl {
  margin-top: 20px;
}
@media only screen and (max-width: 500px) {
  .vitrenix {
    margin: auto;
    margin-bottom: 20px;
  }
  .phone {
    margin: auto;
    margin-bottom: 10px;
  }
  .homeOrderNow {
    display: block;
    margin: auto;
  }
  .rectangleOneText {
    font-size: 2.5rem;
    line-height: 2.5rem;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 30px;
  }
  .line {
    width: 100%;
  }
  .rectangleOneText2 {
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
  }
  .vitrenixBottle {
    margin-top: 0px;
    width: 80%;
    margin-left: 10%;
  }
  .redLine {
    width: 90%;
  }
  .text1 {
    width: 90%;
  }
  .sizeMattersText {
    font-size: 2.5rem;
    text-align: center;
    margin-left: 0px;
  }
  .text2 {
    font-size: 0.9rem;
  }
  .text3 {
    line-height: 2.4rem;
  }
  .text4 {
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 1em;
    text-indent: -1em;
  }
  .girl {
    margin: auto;
    display: block;
  }
  .r2 {
    padding-bottom: 50px;
  }
}
@media only screen and (max-width: 440px) {
  .rectangleOneText {
    font-size: 2rem;
  }
  .rectangleOneText2 {
    font-size: 0.9rem;
  }
  .text1 {
    font-size: 0.9rem;
    line-height: 1.2rem;
  }
  .text3 {
    font-size: 2rem;
  }
  .text4 {
    font-size: 0.8rem;
    text-indent: -1.2em;
  }
}
@media only screen and (max-width: 360px) {
  .rectangleOneText {
    font-size: 1.75rem;
  }
  .rectangleOneText2 {
    font-size: 0.8rem;
  }
  .text1 {
    font-size: 0.8rem;
  }
  .text2 {
    font-size: 0.8rem;
  }
  .text3 {
    font-size: 1.8rem;
  }
  .text4 {
    font-size: 0.7rem;
    text-indent: -1.4em;
  }
}
.secondField {
  background-image: url(/images/secondFieldBackground.png);
  background-position: center;
  background-repeat: no-repeat;
  background-color: #262626;
}
.secondFieldText1 {
  text-align: center;
  color: #d9d9d9;
  font-weight: 700;
  font-family: "Oxygen";
  font-size: 2.2rem;
  padding-top: 80px;
}
.secondFieldText2 {
  text-align: center;
  color: #d9d9d9;
  font-weight: 700;
  font-family: "Steelfish Rg";
  font-size: 4rem;
  line-height: 4rem;
  letter-spacing: 2px;
}
.secondFieldText3 {
  text-align: center;
  color: #d9d9d9;
  font-weight: 700;
  font-family: "Steelfish Rg";
  font-size: 4rem;
  letter-spacing: 2px;
  padding-bottom: 100px;
  margin-bottom: 0px;
}
@media only screen and (max-width: 500px) {
  .secondFieldText1 {
    padding-top: 20px;
    font-size: 1.5rem;
  }
  .secondFieldText2 {
    font-size: 2rem;
  }
  .secondFieldText3 {
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 440px) {
  .secondFieldText1 {
    font-size: 1.2rem;
  }
  .secondFieldText2 {
    font-size: 1.8rem;
  }
  .secondFieldText3 {
    font-size: 1.1rem;
  }
}
@media only screen and (max-width: 360px) {
  .secondFieldText3 {
    font-size: 0.9rem;
  }
}
.rectangleThirdField {
  background-image: url(/images/fieldThreeRectangle.png);
  padding-left: 30px;
}
.thirdFieldText1 {
  color: #d9d9d9;
  font-weight: 400;
  font-style: italic;
  font-family: "Oxygen";
  line-height: 1.7rem;
  margin-top: 20px;
  font-size: 0.9rem;
  margin-bottom: 0px;
}
.thirdFieldText2 {
  color: #dd003e;
  font-weight: 700;
  font-family: "Oxygen";
  text-align: right;
  line-height: 1rem;
  margin-top: 5px;
}
.thirdField {
  background-color: black;
  padding-top: 100px;
}
.biggerHarderFuller {
  margin-top: 100px;
  background-color: #262626;
  border: 0px solid #090a0a;
  margin-bottom: 40px;
}
.biggerHarderFullerText {
  color: #d9d9d9;
  font-weight: bold;
  font-family: "Steelfish Rg";
  font-size: 3.5rem;
  margin-left: 30px;
}
.thirdFieldText3 {
  color: #afafaf;
  font-weight: 400;
  font-family: "Oxygen";
  margin-bottom: 40px;
}
.thirdFieldText4 {
  color: #fff;
  font-weight: 400;
  font-family: "Oxygen";
  margin-bottom: 40px;
}
.thirdFieldText5 {
  color: #afafaf;
  font-weight: 400;
  font-family: "Oxygen";
  font-size: 1.4rem;
}
.chart {
  margin-top: 100px;
  margin-bottom: 100px;
}
.vitrenix1 {
  padding-bottom: 50px;
}
.redRectangle1 {
  border-radius: 50%;
  width: 7px;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: -5px;
}
.clinicallyTested {
  color: #a6a6a6;
  font-weight: 700;
  font-family: "Oxygen";
  text-align: center;
  font-size: 1.6rem;
}
.clinicallyTested1 {
  color: #a6a6a6;
  font-weight: 700;
  font-family: "Steelfish Rg";
  text-align: center;
  font-size: 2.5rem;
  letter-spacing: 2px;
  padding-bottom: 100px;
  margin-bottom: 0px;
}
@media only screen and (max-width: 500px) {
  .thirdField {
    padding-top: 50px;
  }
  .rectangleThirdField {
    padding-left: 15px;
    padding-right: 10px;
  }
  .thirdFieldText2 {
    padding-right: 10px;
  }
  .chris {
    margin: auto;
    display: block;
  }
  .biggerHarderFuller {
    margin-top: 50px;
    text-align: center;
  }
  .biggerHarderFullerText {
    margin-left: 0px;
  }
  .thirdFieldText5 {
    padding-top: 20px;
    font-size: 1rem;
  }
  .chart {
    margin-top: 20px;
  }
  .clinicallyTested1 {
    font-size: 1.6rem;
    padding-top: 20px;
    padding-bottom: 50px;
  }
  .redRectangle1 {
    margin-left: 5px;
    margin-right: 5px;
  }
}
@media only screen and (max-width: 440px) {
  .biggerHarderFullerText {
    font-size: 2.5rem;
  }
  .thirdFieldText5 {
    font-size: 0.8rem;
  }
  .clinicallyTested1 {
    font-size: 1.4rem;
  }
}
@media only screen and (max-width: 360px) {
  .thirdFieldText5 {
    font-size: 0.75rem;
  }
  .clinicallyTested1 {
    font-size: 1.3rem;
  }
}
.fourthField {
  background-color: #262626;
}
.fourthFieldHeader {
  color: #d9d9d9;
  font-weight: bold;
  font-family: "Steelfish Rg";
  text-align: center;
  padding-top: 100px;
  font-size: 4rem;
  letter-spacing: 2px;
  margin-bottom: 50px;
}
.oneFieldText1 {
  color: #d9d9d9;
  font-weight: 400;
  font-family: "Oxygen";
  font-size: 1.6rem;
}
.oneFieldText2 {
  color: #d9d9d9;
  font-weight: 400;
  font-family: "Oxygen";
  font-size: 0.85rem;
  line-height: 1.5rem;
  margin-bottom: 50px;
}
.oneField {
  padding-left: 10%;
  padding-right: 10%;
}
.r3 {
  padding-bottom: 100px;
}
@media only screen and (max-width: 500px) {
  .fourthFieldHeader {
    font-size: 2.5rem;
    padding-top: 50px;
  }
  .oneField {
    padding-left: 0px;
    padding-right: 0px;
  }
  .r3 {
    padding-bottom: 20px;
  }
}
@media only screen and (max-width: 400px) {
  .fourthFieldHeader {
    font-size: 2rem;
  }
}
@media only screen and (max-width: 340px) {
  .fourthFieldHeader {
    font-size: 1.9rem;
  }
}
.fifthField {
  background-color: #0d0d0d;
}
.fifthFieldHeader {
  text-align: center;
  padding-top: 60px;
  color: #d9d9d9;
  font-weight: bold;
  font-family: "Steelfish Rg";
  font-size: 4rem;
  letter-spacing: 2.5px;
}
.redLine1 {
  margin: auto;
  display: block;
}
.fifthFieldText1 {
  color: #d9d9d9;
  font-weight: 400;
  font-family: "Oxygen";
  text-align: center;
  width: 60%;
  margin: auto;
  line-height: 1.8rem;
  margin-top: 30px;
}
.fifthFieldText2 {
  width: 80%;
  margin: auto;
  text-align: center;
  color: #d9d9d9;
  font-family: "Oxygen";
  line-height: 1.7rem;
  margin-top: 40px;
  font-size: 0.9rem;
}
.fifthFieldText3 {
  color: #dd003e;
  width: 80%;
  margin: auto;
  margin-top: 40px;
  text-align: center;
  font-family: "Oxygen";
  font-size: 1.5rem;
}
.rectangleFifthField {
  background-color: #262626;
  border-top: 4px solid #dd003e;
  height: 500px;
  width: 105%;
}
.rectangleFifthFieldText {
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 10px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Oxygen";
  font-size: 0.9rem;
  line-height: 1.6rem;
}
.r4 {
  margin-top: 150px;
}
.stage {
  color: #ffffff;
  font-family: "Steelfish Rg";
  font-size: 2.5rem;
  margin-bottom: 0px;
}
.darkGrey {
  background-color: #262626;
  padding-left: 0px;
  padding-right: 0px;
}
.rowIngredients {
  margin-top: 80px;
}
.imgBackground {
  padding-left: 0px;
  padding-right: 0px;
}
.imgText1 {
  color: #d9d9d9;
  font-weight: bold;
  font-family: "Steelfish Rg";
  margin-top: 20px;
  margin-left: 30px;
  font-size: 2rem;
  letter-spacing: 2px;
  margin-bottom: 5px;
}
.imgText2 {
  color: #d9d9d9;
  font-family: "Oxygen";
  font-size: 0.85rem;
  line-height: 1.7rem;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 0px;
}
.fifthFieldHeader1 {
  text-align: center;
  padding-top: 60px;
  color: #d9d9d9;
  font-weight: bold;
  font-family: "Steelfish Rg";
  font-size: 4rem;
  letter-spacing: 2.5px;
  width: 60%;
  margin: auto;
  margin-bottom: 50px;
}
.r5 {
  padding-bottom: 100px;
}
.c1,
.c2 {
  margin-top: 80px;
}
.fifthFieldRectangle {
  border-left: 10px solid #dd003e;
  height: 100%;
  margin-left: 40px;
  margin-right: 40px;
  background-color: #262626;
  padding-left: 20px;
  padding-right: 20px;
}
.fifthFieldRectangleText1 {
  color: #dd003e;
  font-weight: 700;
  font-family: "Oxygen";
  font-size: 4rem;
}
.recImg {
  padding-top: 10px;
}
.fifthFieldRectangleText2 {
  color: #d9d9d9;
  font-weight: 400;
  font-style: italic;
  font-family: "Oxygen";
  font-size: 0.8rem;
  line-height: 2rem;
}
@media only screen and (max-width: 500px) {
  .fifthFieldHeader {
    font-size: 2rem;
  }
  .fifthFieldText1 {
    width: 100%;
    text-align: left;
  }
  .fifthFieldText2 {
    width: 100%;
    text-align: left;
  }
  .fifthFieldText3 {
    width: 100%;
    font-size: 1.3rem;
  }
  .r4 {
    margin-top: 80px;
  }
  .rectangleFifthField {
    width: 90%;
    margin: auto;
    height: 480px;
  }
  .imageFifthField {
    margin: auto;
    display: block;
    margin-top: 10px;
  }
  .stage {
    width: 90%;
    margin: auto;
    margin-top: 20px;
  }
  .redLine1 {
    width: 100%;
  }
  .imgText1 {
    text-align: center;
    margin-left: 0px;
  }
  .imgText2 {
    margin-left: 5px;
    margin-right: 5px;
    padding-bottom: 20px;
  }
  .fifthFieldHeader1 {
    font-size: 2.5rem;
    width: 100%;
  }
  .c1,
  .c2 {
    margin-top: 40px;
  }
  .vitrenixBottle1 {
    display: block;
    margin: auto;
  }
}
@media only screen and (max-width: 460px) {
  .fifthFieldHeader1 {
    font-size: 2rem;
  }
}
@media only screen and (max-width: 400px) {
  .fifthFieldHeader {
    font-size: 1.8rem;
  }
  .fifthFieldText1 {
    font-size: 0.8rem;
    line-height: 1.3rem;
  }
  .fifthFieldText2 {
    font-size: 0.8rem;
    line-height: 1.3rem;
  }
  .fifthFieldText3 {
    font-size: 1.1rem;
  }
  .fifthFieldHeader1 {
    font-size: 1.5rem;
  }
  .fifthFieldRectangle {
    margin-left: 0px;
    margin-right: 0px;
  }
}
@media only screen and (max-width: 350px) {
  .fifthFieldHeader {
    font-size: 1.55rem;
  }
}
.sixField {
  background-image: url(/images/sixFieldBackground.png);
  background-position: center;
  background-repeat: no-repeat;
  background-color: #262626;
}
.sixFieldText1 {
  color: #d9d9d9;
  font-weight: bold;
  font-family: "Steelfish Rg";
  text-align: center;
  font-size: 4rem;
  padding-top: 60px;
  letter-spacing: 3px;
}
.sixFieldText2 {
  color: #d9d9d9;
  font-weight: 400;
  font-family: "Oxygen";
  text-align: center;
  width: 70%;
  margin: auto;
  margin-top: 30px;
  padding-bottom: 100px;
  line-height: 1.6rem;
}

@media only screen and (max-width: 500px) {
  .sixFieldText1 {
    padding-top: 20px;
    font-size: 2.5rem;
  }
  .sixFieldText2 {
    width: 100%;
    padding-bottom: 50px;
    text-align: left;
    font-size: 0.9rem;
  }
  .sixField {
    background-image: none;
  }
}
@media only screen and (max-width: 460px) {
  .sixFieldText1 {
    font-size: 2rem;
  }
}
@media only screen and (max-width: 390px) {
  .sixFieldText1 {
    font-size: 1.45rem;
  }
}
.sevenField {
  background-color: #0d0d0d;
  padding-top: 100px;
  padding-bottom: 100px;
}
.div1 {
  margin-top: 40px;
  padding-right: 5%;
}
.div2 {
  margin-top: 40px;
  padding-left: 5%;
}
.whatYouCan {
  background-color: #262626;
  border: 0px solid #090a0a;
  margin-bottom: 40px;
}
.whatYouCanText {
  color: #d9d9d9;
  font-weight: bold;
  font-family: "Steelfish Rg";
  font-size: 3.5rem;
  margin-left: 30px;
  letter-spacing: 3px;
}
.sevenFieldText1 {
  color: #d9d9d9;
  font-weight: 400;
  font-family: "Oxygen";
  line-height: 1.7rem;
  margin-top: 10px;
}
.r6 {
  margin-top: 100px;
}
.doctor {
  padding-bottom: 0px;
  margin-bottom: 0px;
}
.doctorText1 {
  color: #d9d9d9;
  font-weight: bold;
  font-family: "Steelfish Rg";
  font-size: 4rem;
  letter-spacing: 3px;
  line-height: 3.5rem;
}
.doctorText2 {
  color: #d9d9d9;
  font-weight: 400;
  font-family: "Oxygen";
  padding-right: 8%;
  line-height: 1.7rem;
}
.penis {
  position: absolute;
  top: 250px;
  left: 100px;
}
.doctor {
  margin-bottom: -12px;
}
.sevenFieldText2 {
  margin-top: 50px;
  color: #d9d9d9;
  font-weight: bold;
  font-family: "Steelfish Rg";
  font-size: 3.5rem;
  letter-spacing: 3px;
}
.sevenFieldText3 {
  color: #d9d9d9;
  font-weight: 400;
  font-family: "Oxygen";
  line-height: 1.6rem;
  padding-bottom: 100px;
}
.graySevenField {
  text-align: center;
  width: 85%;
  margin: auto;
  padding: 20px;
  line-height: 2rem;
  background-color: #262626;
  color: #d9d9d9;
  font-weight: 400;
  font-family: "Oxygen";
}
.r7 {
  background-color: #262626;
  border-top: 4px solid #dd003e;
  margin-top: 150px;
}
.vitrenixBottle1 {
  padding-top: 30px;
}
.grayFieldText {
  color: #d9d9d9;
  font-weight: bold;
  font-family: "Steelfish Rg";
  text-align: center;
  font-size: 2.5rem;
  letter-spacing: 2px;
  margin-top: 35px;
  margin-bottom: 30px;
}
.grayFieldText1 {
  color: #a6a6a6;
  font-weight: 400;
  font-family: "Oxygen";
  line-height: 1rem;
}
.grayFieldText1::before {
  content: url(/images/check.png);
  margin-right: 10px;
  width: 10px;
  position: absolute;
  left: -10px;
}
.button {
  border-radius: 30px;
  background-color: #dd003e;
  display: block;
  margin: auto;
  width: 50%;
  line-height: 3rem;
  color: #ffffff;
  font-family: "Steelfish Rg";
  text-align: center;
  font-size: 2rem;
  letter-spacing: 2px;
  margin-top: 10px;
}
.r8 {
  padding-left: 10%;
}
.grayFieldText2 {
  color: #d9d9d9;
  font-weight: 400;
  font-family: "Oxygen";
  text-align: center;
  margin-top: 10px;
  font-size: 1.5rem;
}
.truck {
  height: 25px;
  margin-right: 10px;
}
.badge1 {
  height: 25px;
  margin-right: 10px;
  margin-left: 20px;
}
.r9 {
  width: 60%;
  margin: auto;
}
.grayFieldText3 {
  color: #a6a6a6;
  font-weight: 400;
  font-family: "Oxygen";
}
@media only screen and (max-width: 500px) {
  .whatYouCanText {
    margin-left: 0px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 2rem;
    text-align: center;
  }
  .sevenField {
    padding-top: 50px;
  }
  .div1 {
    padding-right: 15px;
  }
  .div2 {
    padding-left: 15px;
  }
  .sevenFieldPicture1 {
    width: 100%;
  }
  .pinkLine {
    width: 100%;
  }
  .penis {
    display: none;
  }
  .doctor {
    display: block;
    margin: auto;
    margin-bottom: -15px;
  }
  .doctorText1 {
    text-align: center;
    font-size: 2.5rem;
    line-height: 2.5rem;
    margin-top: 20px;
  }
  .doctorText2 {
    padding-right: 0px;
  }
  .sevenFieldText2 {
    text-align: center;
    font-size: 2.5rem;
    line-height: 2.5rem;
  }
  .sevenFieldText3 {
    padding-bottom: 50px;
  }
  .graySevenField {
    width: 100%;
    padding: 10px;
    line-height: 1.5rem;
  }
  .button {
    width: 80%;
    font-size: 1.5rem;
  }
  .grayFieldText2 {
    font-size: 1rem;
    margin-top: 20px;
  }
  .r9 {
    width: 100%;
    margin: auto;
    margin-top: 40px;
    padding-bottom: 50px;
  }
}
@media only screen and (max-width: 440px) {
  .whatYouCanText {
    font-size: 1.5rem;
  }
  .doctorText2 {
    font-size: 0.9rem;
  }
  .sevenFieldText3 {
    font-size: 0.9rem;
  }
  .graySevenField {
    font-size: 0.8rem;
  }
  .grayFieldText2 {
    font-size: 0.8rem;
  }
}
@media only screen and (max-width: 415px) {
  .badge1 {
    margin-left: 5px;
    margin-right: 5px;
  }
  .truck {
    margin-right: 5px;
  }
  .grayFieldText3 {
    font-size: 0.9rem;
  }
  .grayFieldText {
    font-size: 2rem;
  }
}
@media only screen and (max-width: 380px) {
  .sevenFieldText2 {
    font-size: 2rem;
    line-height: 2rem;
  }
  .doctorText1 {
    font-size: 2rem;
    line-height: 2rem;
  }
  .button {
    width: 90%;
    font-size: 1.2rem;
  }
}
@media only screen and (max-width: 360px) {
  .whatYouCanText {
    font-size: 1.2rem;
  }
  .grayFieldText2 {
    font-size: 0.73rem;
  }
  .grayFieldText3 {
    font-size: 0.7rem;
  }
  .grayFieldText {
    font-size: 1.8rem;
  }
}
.eightField {
  background-color: #262626;
}
.flexPart {
  display: flex;
}
.textR10 {
  color: #d9d9d9;
  font-weight: bold;
  font-family: "Steelfish Rg";
  text-align: center;
  font-size: 3rem;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 20px;
  letter-spacing: 1px;
}
.r10 {
  padding-top: 70px;
  padding-bottom: 60px;
  border-bottom: 1px solid white;
}
.r11 {
  padding-top: 70px;
  padding-bottom: 70px;
  border-bottom: 1px solid white;
}
.firstTextR11 {
  color: #d9d9d9;
  font-weight: 500;
  font-family: "Oxygen";
  font-size: 1.3rem;
  line-height: 1.5rem;
}
.secondTextR11 {
  color: #d9d9d9;
  font-weight: 600;
  font-family: "Oxygen";
  font-size: 1.4rem;
}
.thirdTextR11 {
  color: #d9d9d9;
  font-weight: 400;
  font-family: "Oxygen";
}
.patentUS {
  color: #838383;
  font-weight: 400;
  font-family: "Oxygen";
}
.fourthTextR11 {
  color: #d9d9d9;
  font-weight: 600;
}
.fifthTextR11 {
  color: #d9d9d9;
  font-weight: 400;
  font-family: "Oxygen";
  font-size: 0.8rem;
}
.fourthTextR11 {
  margin-bottom: 0.5rem;
}

.sourcesText1 {
  line-height: 0.5rem;
}
.sources {
  border: 1px solid #595959;
  margin-top: 55px;
  width: 98.5%;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
}

a,
a:visited,
a:hover,
a:active {
  color: inherit;
}
.sourcesText {
  color: #737373;
  font-weight: 700;
  font-family: "Oxygen";
  font-size: 1.5rem;
}
.sourcesText1 {
  color: #737373;
  font-weight: 500;
  font-family: "Oxygen";
  font-size: 0.8rem;
}
.r12 {
  padding-top: 70px;
  padding-bottom: 70px;
}
@media only screen and (max-width: 500px) {
  .clinProv {
    display: none;
  }
  .textR10 {
    text-align: center;
    margin: auto;
    padding-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
  }
  .firstTextR11 {
    margin-top: 20px;
    font-size: 1rem;
  }
  .thirdTextR11 {
    font-size: 0.8rem;
  }
  .sources {
    padding-left: 5px;
    padding-right: 5px;
  }
  .r13 {
    padding-left: 10%;
  }
  .button1 {
    width: 80%;
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 450px) {
  .sourcesText1 {
    font-size: 0.6rem;
  }
  .grayFieldText1 {
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 350px) {
  .sourcesText1 {
    font-size: 0.55rem;
  }
}
.nineField {
  background-color: #0d0d0d;
  padding-top: 100px;
  padding-bottom: 150px;
}
.r14 {
  background-color: #262626;
  border-top: 4px solid #dd003e;
}
.button1 {
  border-radius: 30px;
  background-color: #dd003e;
  display: block;
  margin: auto;
  width: 60%;
  line-height: 3rem;
  color: #ffffff;
  font-family: "Steelfish Rg";
  text-align: center;
  font-size: 2rem;
  letter-spacing: 2px;
  margin-top: 10px;
  margin-bottom: 30px;
}
.lastField {
  background-color: black;
}
.lastFieldFlex {
  display: flex;
}
.lastFieldText1 {
  font-family: "Steelfish Rg";
  color: #737373;
  font-size: 1.6rem;
  margin-bottom: 0px;
  margin-top: -8px;
  margin-left: 60px;
}
.lastFieldText {
  color: #737373;
  font-weight: 400;
  font-family: "Oxygen";
  font-size: 0.85rem;
  padding-top: 20px;
}
.red {
  color: #dd003e;
  padding-left: 10px;
  padding-right: 10px;
}
.lastFieldText2 {
  color: #737373;
  font-weight: 400;
  font-family: "Oxygen";
  font-size: 0.85rem;
  padding-left: 87.5px;
  margin-top: 30px;
}
.phone1 {
  height: 22px;
}
.r15 {
  padding-top: 50px;
  padding-bottom: 100px;
}
@media only screen and (max-width: 500px) {
  .button1 {
    width: 80%;
    font-size: 1.5rem;
  }
  .nineField {
    padding-bottom: 100px;
  }
  .vitrenix2 {
    margin: auto;
    display: block;
  }
  .lastFieldText {
    text-align: center;
  }
  .phone1 {
    display: block;
    margin: auto;
  }
  .lastFieldText1 {
    display: none;
  }
  .lastFieldText2 {
    padding-left: 0px;
    font-size: 0.7rem;
    display: block;
    text-align: center;
    line-height: 1.2rem;
  }
  .phone1 {
    margin-top: 20px;
  }
}
@media only screen and (max-width: 400px) {
  .button1 {
    width: 90%;
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 390px) {
  .red {
    padding-left: 3px;
    padding-right: 3px;
  }
}
@media only screen and (max-width: 360px) {
  .button1 {
    font-size: 1.2rem;
  }
  .truck {
    margin-top: -5px;
  }
  .badge1 {
    margin-top: -5px;
  }
}
@media only screen and (max-width: 350px) {
  .lastFieldText {
    font-size: 0.75rem;
  }
  .lastFieldText2 {
    font-size: 0.6rem;
  }
}
